<div class="login-container">
    <div class="login-container__form-container">
        <form class="login-container__form-container__form">
            <img src="../../../assets/logo.png" alt="Logo Image" class="login-container__form-container__form__logo">
            <div class="mb-4">
                <label class="login-container__form-container__form__label" for="username">Username</label>
                <input class="login-container__form-container__form__input" id="username" type="text"
                    placeholder="Username" autocomplete="none">
            </div>
            <div class="mb-6">
                <label class="login-container__form-container__form__label" for="password">Password</label>
                <input class="login-container__form-container__form__input" id="password" type="password"
                    placeholder="******************">
            </div>
            <div class="login-container__form-container__form__button-container">
                <button class="login-container__form-container__form__button-container__btn" type="button">Sign
                    In</button>
                <a class="login-container__form-container__form__button-container__forgot-pw" href="#">Forgot
                    Password?</a>
            </div>
        </form>
        <p class="login-container__form-container__rights">&copy;2020 Acme Corp. All rights reserved.</p>
    </div>
</div>